.canvas-wrapper {
  border: 1px solid #ced4da;
  overflow: auto;
}

.icon {
  fill: currentColor;
  display: flex;
  color: gray;

  &.icon-x-small svg {
    max-width: 1.5rem;
    height: 12px;
  }

  &.icon-xx-small svg {
    max-width: 1.5rem;
    height: 6px;
  }

  &.red {
    color: red;
  }

  &.green {
    color: green;
  }

  &.blue {
    color: blue;
  }

  &.yellow {
    color: yellow;
  }

  svg {
    max-width: 1.5rem;
    height: 18px;
  }
}
